.product-form {
  height: 100%;
  background-color: #15162f;
  
  img {
    margin: auto;
    width: 60%;
    margin-top: 20%;
  }
  
  h2{
    color: #ea3434;
  }
  
  label{
    color: #f9d026;
  }
}